#stuff {
	text-align: center;
}

.flavor-text {
	margin-top: 15px;
	margin: auto;
	display: table;
	font: 2em helvetica, sans-serif;
}

.another-one {
	font: 1em helvetica, sans-serif;
	color: black;
	float: right;
	display: block;
	margin-top: 60px;
	margin-right: 60px;
	cursor: pointer;
}

.another-one:hover {
	text-decoration: underline;
}

.play-button {
	margin-top: 200px;
	text-align: center;
	display: block;
	font: 2em helvetica, sans-serif;
}

.cardImage {
	text-align: center;
}

.cardImage:hover {
	-webkit-transform: scale(0.95); 
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
}

.score {
	margin-top: 60px;
	font: 1.5em helvetica, sans-serif;
	font-style: italic;
}

.message {
	margin-top: 60px;
	font: 1.5em helvetica, sans-serif;
	font-style: italic;
}

.rank-image {
	margin-top: 60px;
}

.cardimage, .message, .rank-image, .score {
	display: none;
}

.footer {
	bottom: 15px;
	left: 15px;
	position: absolute;
}

.footer p {
	font: 0.75em helvetica, sans-serif;
}